@charset "utf-8";

/* Font Declarations */
@font-face {
	font-family: 'Helvetica Light';
	src: url(fonts/HelveticaNeueLtStd-Light.woff)format(woff);
	font-weight: lighter;
}

@font-face {
	font-family: 'Helvetica';
	src: url(fonts/HelveticaNeueLtStd-Roman.woff) format(woff);
	font-weight: normal;
}

@font-face {
	font-family: 'Helvetica Medium';
	src: url(fonts/HelveticaNeueLtStd-Medium.woff) format(woff);
	font-weight: bolder;
}

@font-face {
	font-family: 'Helvetica Bold';
	src: url(fonts/HelveticaNeueLtStd-Bd.woff) format(woff);
	font-weight: bold;
}

html, body {
    height: auto;
		text-align: justify;
}

h2 {
	font-family: 'Helvetica Bold', 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 36px;
}

/* The sidebar menu */
.main .sidenav {
	width: 25vw;
	min-width: 240px;
	max-width: 25vw;
  position: sticky; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
	bottom: 0;
  left: 0;
  background-color: #121f30; /* ICUMS Blue */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
/* The navigation menu links */
.main .sidenav a {
  padding: 15px 24px 15px 36px;
  text-decoration: none;
	font-family: 'Helvetica Bold', 'Roboto', sans-serif;
  font-size: 25px;
	font-weight: bold;
  color: #ffffff;
	opacity: 0.5;
  display: block;
	transition: opacity 0.1618s; /* Fucking golden ratio */
}

.main .sidenav icons {
	display: none;
}

.main .sidenav icons a {
	padding: 15px 0 15px 0;
	text-decoration: none;
	font-family: 'Helvetica Bold', 'Roboto', sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: #ffffff;
	opacity: 0.5;
	display: block;
	text-align: center;
	transition: opacity 0.1618s; /* Fucking golden ratio */
}

.main .sidenav copyright {
	padding: 15px 24px 15px 36px;
	position: absolute;
	bottom: 0;
	text-decoration: none;
	font-family: 'Helvetica Light', Fallback, sans-serif;
	font-size: 8px;
	color: #ffffff;
	opacity: 0.5;
	display: block;
}

/* When you mouse over the navigation links, change their color */
.main .sidenav a:hover {
  color: #ffffff;
	opacity: 1.0;
	background-color: rgba(36,62,96,1);
}

@media screen and (max-width: 125vh) {
	.main .sidenav {
		min-width: 180px;
		max-width: 240px;
	}
	.main .sidenav a {
		font-size: 18px;
	}
}

@media screen and (max-width: 100vh) {
	.main .sidebar {
		display: none;
	}
	.main .contentbox {
		padding: 0px 0px 0px 0px!important;
	}
	.main .sidenav {
		max-width: 60px;
		min-width: 60px;
	}
	.main .sidenav a {
		display: none;
	}
	.main .sidenav icons {
		display: block;
	}
	.main .sidenav copyright {
		padding-left: 15px;
	}
}

body {
  margin: 0;
  font-family: 'Helvetica';
}

.top-container {
	height: 512px;
	position: fixed;
  padding-top: 80px;
  text-align: center;
	width: 100%;
	color: #ffffff;
	overflow-y: hidden;
}

.top-container .heading {
	margin: 0px 80px 80px 80px;
}

/* Page content */
.main {
	display: flex;
	width: 100%;
	position: relative;
	top: 512px;
	height: 100vh;
	background: #ebebeb;
  padding: 0 0 0 0;
	overflow-y: hidden;
}

.main .contentbox {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 30px 30px 30px 30px;
}

.main .contentbox .content {
	font-family: 'Helvetica', Fallback, sans-serif;
	background-color: #ffffff;
	padding: 30px 30px 30px 30px;
	margin-bottom: 30px;
}

.addRemove {
	-ms-overflow-style: none;
}

.addRemove::-webkit-scrollbar {
	width: 0!important;
}

.main .sidebar {
	position: sticky;
	top: 30px;
	min-width: 15vw;
	max-width: 20vw;
	font-family: 'Helvetica', Roboto, sans-serif;
	margin: 30px 30px 30px 30px;
	padding: 30px 30px 30px 30px;
	flex-grow: 1;
	background-color: #ffffff;
}

.scroll {
	overflow-y: scroll!important;
}
